body{
  background-color: #d5c75f;
}
#grupo1-retratos{
  display: flex;
  flex-direction: row;
}
#grupo1-retratos section{
  flex-grow: 1;
  width: 40%;
}
#chica img{
  width: 95%;
  margin-left: 2%;
  margin-top: 1%;
}
#fati img{
  width: 70%;
  margin-left: 15%;
  margin-top: 1%;
}
#foto-amigos img{
  width: 70%;
  margin-left: 15%;
  margin-top: 1%;
}
#grupo2-retratos{
  display: flex;
  flex-direction: row;
}
#grupo2-retratos section{
  flex-grow: 1;
  width: 40%;
}
#foto-bella img{
  width: 85%;
  margin-left: 8%;
  margin-top: 1%;
}
#llavero img{
  width: 95%;
  margin-left: 2%;
  margin-top: 1%;
}
#nina-flores img{
  width: 95%;
  margin-left: 3%;
  margin-top: 20%;
}
#grupo1-retratos section:hover {
background: white;
width: 50%;
}
#grupo2-retratos section:hover {
  background: white;
  width: 50%;
}
#grupo1-retratos section > img{
  border-radius: 5%;
}
#grupo2-retratos section > img{
  border-radius: 5%;
}
